# Q.1.What are the two values of the Boolean data type? How do you write them?

Answer:
       There are two boolean data types that is written as
        
        1) True = binary value is 1 (condition is true)
        2) False = binary value is 0 (condition is false)

# Q.2.What are the three different types of Boolean operators?

Answer:
    
     There are three types of boolean operators:
            
    1) AND
    
    2) OR
    
    3) NOT

# Q.3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

Answer:
    
    1) AND (Truth Table): (True = 1, False = 0)
    
       In AND operator when both are True(1) then only True(1), remaining all False(0)
    
             x     y     c = x and y

             0     0     0
             0     1     0
             1     0     0
             1     1     1
    
    
    2) OR ( Truth Table): (True = 1, False = 0)
        
        In OR operator when both are False(0) then only False(0) remaining all True(1)
        
            x      y      c = x or y
            
            0      0      0
            0      1      1
            1      0      1
            1      1      1
            
    3) NOT (Truth Table):
        
        In not operator it give result reverse if it is True(1) it will become False(0) and vice versa
        
            x     not x
            
            1       0
            
            0       1

# Q.4. What are the values of the following expressions?

(5 > 4) and (3 == 5)

not(5 > 4)

(5 > 4) or (3 == 5)

not ((5 > 4) or (3 == 5))

(True and True) and (True == False)

(not False) or (not True)

Answer:
    
(5 > 4) and (3==5):- (True) and (False) = False
    
    5 is greater than 4 (True)
    3 is not equal to 5 (False)
    
    
not(5 > 4):- 
    
    not(True) = False
    
     5 is greater than 4(True)
        
        
(5 > 4) or (3 == 5):- (True) or (False) = True
    
     5 is greater than 4( True)
     3 is not equal to 5 (False)

not((5 > 4) or (3 == 5)):- not( True or False) = not(True) = False
    
     5 is greater than 4(True)
     3 is not equal to 5 (False)
    
(True and True) and (True == False):- True and False = False
    
(not False) or (not True):- True or False = True

In [7]:
(5>4) and (3==5)

False

In [8]:
not(5>4)

False

In [9]:
(5>4) or (3==5)

True

In [10]:
not((5>4) or (3==5))

False

In [11]:
(True and True) and (True == False)

False

In [12]:
(not False) or (not True)

True

# Q.5.What are the six comparison operators?

Answer:
    
     There are six comparison operator :
            
            1) less than              ( < )
            2) greater than           ( > )
            3) less than or equal to   ( <= )
            4) greater than or equal to ( >= )
            5) equal to                ( == )
            6) not euqal to             ( != )

# Q.6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

Answer:
    
Assignmet operator(=):
        
            it is assigning perticular value to a respected variable.

            example: x ,  x = 5
            
            here x is a empty variable initially,
            
            when x = 5 means we assign value 5 to variable x by using assignment operator(=)
       
Equal to operator(==):
        
        it is a relational operator, it showing relation of left side and right side
        
        if both side are same. it will return True and remains condition it will False.

# Q.7. Identify the three blocks in this code:

spam = 0

if spam == 10:
    
print('eggs')

if spam > 5:
    
print('bacon')

else:

print('ham')

print('spam')

print('spam')

Answer:
    
     There are three blocks:
            
            two blocks are if block, checking condition and return result based on that
        
            And one is else block, this block will run when both if blocks are False

In [13]:
spam = 0
if spam == 10:
    print('eggs')
if spam > 5:
    print('bacon')
else:
    print('ham')
    print('spam')
    print('spam')

ham
spam
spam

# Q.8.Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [6]:
spam = int(input('enter anything : '))
if spam == 1:
    print('Hello')
elif spam ==2:
    print('howdy')
else:
    print('Greetings!')

enter anything : 3
Greetings!

# Q.9.If your programme is stuck in an endless loop, what keys youâ€™ll press?

Press CTRL + c to exit form infinite loop

# Q.10. How can you tell the difference between break and continue?

Answer: 
        main difference is loop terminate 
    
Break:
    
       The Break is used for terminate the execution of the statements. 
        
        
        
Continue:
    
         The continue will terminate only the current iteration of loop
        
        and it will keep checking when to exit, once condition is satisfied then it will move out

In [15]:
# Break Example

a = "ineuron"
for i in a:
    if  i == "u":
        break
    print(i)

i
n
e

In [16]:
# Continue Example:

a = "ineuron"
for i in a:
    if i =="u":
        continue
    print(i)

i
n
e
r
o
n

# Q.11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

Answer:
    
    There is no difference between range(10), range(0,10), range(0,10,1)
    
    range(10) it is starting with initial value 0 and jumping means increment value is also by default 1 
    
    range(0,10) here initial value is given 0 and increment value is also by default 1 
    
    range(0,10,1) this is the standard written format 
    
    this all increment value up to n-1, here n is 10

In [19]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

# Q.12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [22]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [1]:
i=1
while i<=10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

# Q.13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

Answer:
    
    import spam 
    spam.bacon()
    
    or
    
    from spam import*
    bacon()