Q.1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*
'hello'
-87.8
-
/
+
6

Answer:

Operators: *, -, /, +,

values: 'hello', -87.8, 6

Q.2. What is the difference between string and variable?

Answer:

1. String: string is nothing but simply we can say it is collection of characters and in python it enclosed with two single or double quote

2. variable: variables are the name where we give to the memory location which are used to store the data/information.

ex. 
    a = 'ineuron'
    
    where-
            ineuron - it is a string
                  a - it is a variable

# Q.3. Descibe three different data types


Answer:
    
1.Integer(INT): Integer represents an integer number without any decimal point or fraction part.

    a = 10
    b = -15
    
    it support both positive and negative integer numbers.
    
2.Float: The float datatype represents floating point numbers that contains a decimal point

    c = 22.15
    c = -3.5
    
3.String(str): A string is represented by a group of characters which is enclosed with single or double quotes

    d = 'ineuron'
    d = "fsds"

In [4]:
a = 10
type(a)

int

In [5]:
c = 22.15
type(c)

float

In [6]:
d = 'ineuron'
type(d)

str

# Q.4. what is an expression made up of? what do all expressions do?

Answer:
    
    An expression is any valid combination of operators and variable,
    that make a result in terms of values
    
    example:
        
variable: a = 5
          b = 6
        
Expression: (Arithmatic)
    
    c = a+b
    c = 11

# Q.5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Answer:
    
    - The Assignment statement is assign a value to variable.
    - the expression evalueates the value which is depends upon operator
      and vlaues
        
    In above example spam = 10, 10 is assigned to variable spam
    and spam value will become 10.
    
    But in expression a = b+c, value of a depend upon b and c.

# Q.6. After running the following code, what does the variable bacon contain

bacon = 22
bacon + 1

In [1]:
# Answer

bacon = 22
a = bacon +1

In [2]:
a

23

In [4]:
bacon # bacon contain same value, it will not change

22

# Q.7. What should the values of the following two terms be?

'spam' + 'spamspam'
'spam' * 3

In [5]:
# Answer:

'spam'+'spamspam'

'spamspamspam'

In [6]:
'spam'*3

'spamspamspam'

# Q.8. Why is eggs a valid variable name while 100 is invalid?

In [7]:
# Answer:

eggs = 100

In [9]:
100 = 100

SyntaxError: cannot assign to literal (Temp/ipykernel_5144/2811739266.py, line 1)

100 is not valid variable name because compiler confuse so variable not start
with number

# Q.9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [10]:
# Answer

a = 10
int(a) # giving integer value

10

In [12]:
float(a) # giving floating point value

10.0

In [13]:
str(a) # giving as a string value

'10'

# Q.10. Why does this expression cause an error? How can you fix it?
'i have eaten'+99+'burritos'

In [14]:
'i have eaten'+99+'burritos'

TypeError: can only concatenate str (not "int") to str

In [ ]:
In above example we will get error due to 
addition operation happen with same data types

99 is an Integer and remains are string 
for fixing this erroe we can convert int to str(99)

In [15]:
'i have eaten' + str(99) + 'burritos'

'i have eaten99burritos'